/* .background {
  height: 100%;
} */

.background {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../background-image.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.background .text-center {
  color: white;
  filter: brightness(150%);
  margin-top: 20%;
}

.button {
  margin-top: 5%;
  padding-bottom: 5%;
}

/* .missionRow {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  margin-bottom: 40px;
} */

.missionCol {
  color: white;
}

.site-footer {
  background-color: rgb(214, 212, 212);
  /* margin-top: 30px; */
  padding-top: 2.5%;
  padding-bottom: 2.5%;
}

header {
  background-color: rgb(214, 212, 212);
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
}

.carousel {
  border: solid #8a8a8d;
}

.gameCarouselImg img {
  width: auto;
  height: 400px;
  max-height: 400px;
}
